.wrapper {
  height: 90px;
  width: 670px;

  display: grid;
  position: absolute;
  top: 650px;

  grid-template-areas: "campus dates guests button";
  grid-template-columns: 160px 175px 130px auto;

  background: rgba(217, 217, 217, 0.55);
  border: 1px solid #ffffff;
  backdrop-filter: blur(10px);

  border-radius: 10px;
}

.wrapper > div:not(:last-child) {
  border-right: 1px solid #fff;
}

.subtitle {
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 10px;
  color: #171717;

  text-transform: uppercase;
  cursor: initial;
}

.title {
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 20px;
  color: #171717;
}

.title + .title {
  margin-top: 5px;
}

.campus,
.dates,
.guests {
  padding: 10px 15px;
}

.campus {
  grid-area: campus;
}

.dates {
  grid-area: dates;
}

.guests {
  grid-area: guests;
}

.button {
  grid-area: button;
  padding: 30px;

  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 18px;

  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  color: #ffffff;
  background: rgba(200, 170, 109, 0.7);
  cursor: pointer;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  align-items: baseline;
}

.titleWrapper input {
  max-width: -webkit-fill-available;
  box-sizing: border-box;
}

.titleWrapper input[type="number"] {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.selectCampusWrapper {
  position: absolute;

  top: 95px;
  left: 0px;
}

.selectCampusWrapper .selectCampusItem {
  background: #fff;
  backdrop-filter: blur(10px);
  border-radius: 10px;

  width: 160px;
  box-sizing: border-box;
  padding: 15px;
  margin: 5px 0;
  cursor: pointer;
}

.selectCampusWrapper .selectCampusItem:hover {
  color: #fff;
  background-color: rgba(200, 170, 109, 0.7);
}
