.stepLine {
  width: 790px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepLine > span {
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: #fff;
  background-color: #cecece;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepLine .active {
  background-color: #c8aa6d;
  z-index: 2;
}

.stepLine .currentStep {
  background-color: #c8aa6d;
  z-index: 2;
  transform: scale(1.25);
}

.stepTitle {
  padding: 10px;
  margin-top: 25px;
  color: #828282;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.stepTitle > span {
  color: #000;
  width: 72px;
  display: inline-block;
}

.baseline {
  z-index: 0;
  position: absolute;
  height: 10px;
  background-color: #cecece;
  width: 200px;
  left: 55px;
}

.activeLine {
  background-color: #c8aa6d;
}

.line2 {
  left: 240px;
}

.line3 {
  left: 440px;
}

.line4 {
  left: 640px;
}
