.wrapper {
  display: grid;
  gap: 0 5px;
  grid-template-areas: "prevArrow firstMonth . secondMonth nextArrow";
  justify-content: space-between;
  justify-items: safe;
  width: 770px;
}

.prevArrow {
  grid-area: prevArrow;
}
.nextArrow {
  grid-area: nextArrow;
}

.firstMonth {
  grid-area: firstMonth;
}

.prevArrow,
.nextArrow {
  width: 22px;
  cursor: pointer;
}

.firstMonth,
.secondMonth {
  height: 295px;
  width: 345px;
  text-align: center;
}

.secondMonth {
  grid-area: secondMonth;
}

.weekDayNames {
  margin-top: 25px;
  text-align: center;
  align-items: center;
  display: grid;
  text-transform: uppercase;
  grid-template-columns: repeat(7, 1fr);
}

.weekDayNames > div:nth-last-child(-n + 2) {
  color: #db0000ed;
}

.weekDayNames > div {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.monthDays {
  margin-top: 20px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  text-align: center;
  align-items: center;
  display: grid;
}

.monthDays > div {
  width: 45px;
  height: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 5px;
}

.monthDays > div:hover {
  background-color: #adadad;
  color: #fff;
  transition: all 0.4s;
}

.monthDays > div:hover > p {
  color: #fff;
}

.monthDays > div:active {
  background-color: #868686;
}

.monthDaysPrice {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
  color: #171717;
  text-transform: lowercase;
}

.monthTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #101010;
  margin: 3.5px 0;
}

.spinner {
  width: 64px;
  height: 64px;
  /* margin: 0 auto; */
  display: block;
  margin: 75px auto;
}
